[feature]
	manyFiles = true
[user]
	signingkey = /home/fslaktern/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	verbose = true
[column]
	ui = auto
[core]
	pager = delta
	editor = emacsclient -c
	compression = 9
	whitespace = trailing-space
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
	ff = only
[rebase]
	autoStash = true
[color]
	ui = auto
	status = auto
	branch = auto
[fetch]
	prune = true
[pull]
	rebase = true
[maintenance]
	auto = true
	strategy = incremental
[status]
	branch = true
[init]
	defaultBranch = main
